{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}
 {% block javascripts %}
     {{ encore_entry_script_tags('event_form') }}
     {{ parent() }}
 {% endblock %}
{% block body %}
    <h1>Edit Event</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('event_index_pro') }}">back to list</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
