{% extends 'base-front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('allEvents') }}
{% endblock %}

 {% block javascripts %}
     {{ encore_entry_script_tags('allEvents') }}
     {{ parent() }}
 {% endblock %}

{% block content %}

    <div class="wrapperBody">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="container-fluid containerBody">
                        <div class="row">
                            <div class="col-md-12">
                                {% for message in app.flashes('success') %}
                                    <div id="hideDiv" class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('exist') %}
                                    <div id="hideDiv" class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {% if event.pictures|length == 1%}
                                    <div class="container-fluid indexImageContainer">
                                        <div class="row">
                                            <img src="{{ event.pictures[0].link }}" class="twoImage" alt="">
                                        </div>
                                    </div>
                                {% elseif event.pictures|length > 0 and event.pictures|length == 2%}
                                    <div id="{{ event.slug }}" class=" carousel slide mt-0" data-ride="carousel" style="margin-top: 2rem
;margin-bottom: 2rem">
                                        <ol class="carousel-indicators">
                                            {% for picutre in event.pictures %}
                                                <li data-target="#{{ event.slug }}" data-slide-to="{{ loop.index-1 }}" class="{{ loop.first ? 'active': '' }} "></li>
                                            {% endfor %}
                                        </ol>

                                        <div class="carousel-inner " >
                                            {% for pictures in event.pictures %}
                                                <div class="carousel-item {{ loop.first ? 'active': '' }}">
                                                    <img src="{{ pictures.link }}" class="car2" alt="">
                                                </div>

                                            {% endfor %}

                                        </div>
                                        <a class="carousel-control-prev" href="#{{ event.slug }}" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#{{ event.slug }}" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                {% endif %}

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="datailsName">{{ event.name }}</p>
                                            <p class="detailsPrice">{{ event.price }} €</p>
                                            <p class="detailsLocation">{{ event.location }}</p>
                                            {% if "now"|date('Y-m-d') == event.dateStart|date('Y-m-d')  %}
                                                <p>Début: Aujourd' hui à {{ event.dateStart |date('H:i:s') }}</p>
                                            {% else%}
                                                <p>Début: {{ event.dateStart |date('Y-m-d') }} à {{ event.dateStart |date('H:i:s') }}</p>
                                            {% endif %}

                                            {% if "now"|date('Y-m-d') == event.dateEnd|date('Y-m-d')  %}
                                                <p>Fin: Aujourd' hui à {{ event.dateEnd |date('H:i:s') }}</p>
                                            {% else%}
                                                <p>Fin: {{ event.dateEnd |date('Y-m-d') }} à {{ event.dateEnd|date('H:i:s') }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 description">
                                            <h3>Description</h3>
                                                <p>{{ event.description }}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 description">
                                            <h3>Restrictions</h3>

                                            {% if event.restrictions| length >0 %}
                                                    <ul>
                                                {% for restriction in event.restrictions%}
                                                    <li> {{ restriction.name}} </li>
                                                {% endfor %}
                                                    </ul>
                                            {% else%}
                                                <p>Pas de restriction</p>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card rightDiv">
                                    <div class="card-title">
                                        <div class="container-fluid">
                                            <div class="row organizerRow">
                                                <div class="col-md-11">
                                                    <h3>Organiser par:</h3>
                                                </div>
                                            </div>
                                            <div class="row" >
                                                <div class="col-md-4">
                                                    <img src="http://placehold.it/120x120&text=image2" alt="" class="rounded-circle">
                                                </div>
                                                <div class="col-md-8 orgarnizeName">
                                                    <h3>{{ event.user.lastname|capitalize }} {{ event.user.firstname }}</h3>
                                                </div>
                                            </div>
                                            <div class="row organizeAddress" >
                                                <p>Contact: {{ event.user.email }}</p>
                                                <p>Nombres de participants : {{ event.NbParticipants }}</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-body backLine">
                                        {% if user %}
                                            <a href="{{ path('inscription', {'event': event.id,'user': user.id }) }}" class="btn btn-primary">S'inscrire</a>
                                            {% else %}
                                                <a class="btn btn-primary" href="{{ path('app_login') }}">S'inscrire</a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>


{% endblock %}