{% extends 'base-front.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('allEvents') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('allEvents') }}
    {{ parent() }}
{% endblock %}

{% block content %}

        <div class="wrapperBody">
            <div class="row">
                <div class="container-fluid" style="padding: unset">
                        <div class="jumbotron" style="border-top-left-radius: unset;border-top-right-radius: unset;
                        border-bottom-left-radius: 50%;border-bottom-right-radius: 50%;height: 300px;background-size: cover;
                        background-image: url({{ asset('build/images/public_img/headerA.jpg') }})">

                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <h1 style="margin-bottom: 2rem">C'est la fin du couvre feu</h1>
                                    <h2>Sortez ! Amusez-vous ! Grâce à cluster faite les plus belle rencontre et renouer enfin avec la vie de la nuit</h2>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2rem">
                <div class="col-md-1"></div>
                <div class="col-md-8" >
                    {{ form_start(formSearch) }}
                        <div class="form-row">
                            <div class="col-md-2.5" style="margin-left: -2rem">
                                {{ form_row(formSearch.min_price) }}
                            </div>
                            <div class="col-md-2.5">
                                {{ form_row(formSearch.max_price) }}
                            </div>
                            <div class="col-md-7">
                                {{ form_row(formSearch.date_start) }}
                            </div>
                        </div>
                    <button class="btn btn-primary" type="submit">Rechercher</button>
                    {{ form_end(formSearch) }}
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row" style="margin-bottom: 3rem">
                <div class="col-md-12" style="padding-left: 10rem;padding-right: 5rem;">
                    <div class="containerBody" style="width: 100%;">
                        {% for event in events %}
                            <div class="block" style="width: 23%; margin-right: 18px; float: left">

                                {% if event.pictures|length > 1 %}

                                    <div id="{{ event.slug }}" class="picturessCard nopadding carousel slide mt-0" data-ride="carousel" >
                                        <ol class="carousel-indicators">
                                            {% for picutre in event.pictures %}
                                                <li data-target="#{{ event.slug }}" data-slide-to="{{ loop.index-1 }}" class="{{ loop.first ? 'active': '' }} "></li>
                                            {% endfor %}
                                        </ol>

                                        <div class="carousel-inner">
                                            {% for pictures in event.pictures %}
                                                <div class="carousel-item {{ loop.first ? 'active': '' }} ">
                                                    <img src="{{ pictures.link }}"  class="d-block img-fluid car1" alt="">
                                                </div>

                                            {% endfor %}

                                        </div>
                                        <a class="carousel-control-prev" href="#{{ event.slug }}" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#{{ event.slug }}" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                {% elseif  event.pictures|length == 1 %}
                                    <div class="picturessCard nopadding" >
                                        <img src="{{ event.pictures[0].link }}" height="250px"  width="100%" alt="">
                                    </div>
                                {% else %}
                                    <div class="picturessCard nopadding" >
                                        <img src="http://placehold.it/120x120&text=image5" height="250px"  width="100%" alt="">
                                    </div>
                                {% endif %}

                                <div class="textCard" onclick="location.href='{{ path('details_event', {slug: event.slug}) }}'">
                                    <p class="name">{{ event.name }}</p>
                                    <p class="price">{{ event.price }} €</p>
                                    <p class="otherText">Locations</p>
                                    <p>{{ event.location }}</p>
                                    {% if "now"|date('Y-m-d') == event.dateStart|date('Y-m-d')  %}
                                        <p class="otherText">Début: Aujourd' hui à {{ event.dateStart |date('H:i:s') }}</p>
                                    {% else%}
                                        <p class="otherText">Début: {{ event.dateStart |date('Y-m-d') }} à {{ event.dateStart |date('H:i:s') }}</p>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}

                        {{ knp_pagination_render(events) }}
                    </div>

                </div>
            </div>
        </div>
{% endblock %}
