{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('nav') }}
{% endblock %}

 {% block javascripts %}
     {{ encore_entry_script_tags('nav') }}
     {{ parent() }}
 {% endblock %}
{% block body %}
    {#  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{ path('all_events') }}" rel="tooltip" target="_blank">
                    <img src="{{ asset('build/images/logo.png') }}" width="40%" alt="Circle image" class="img-fluid">
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a>
                                CLUSTER
                            </a>
                        </div>
                        <div class="col-6 collapse-close text-right">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                    data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary btn-simple" href="{{ path('aboutus') }}">Qui sommes-nous ?</a>
                    </li>
                    {% if not app.user  %}

                        <li class="nav-item">
                            <a class="nav-link btn btn-primary btn-simple" href="{{ path('app_login') }}">Se Connecter</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn btn-primary btn-simple" href="{{ path('app_register_user') }}">S'inscrire</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btn btn-primary btn-simple" href="{{ path('app_register_pro') }}">Je suis un PRO</a>
                        </li>
                    {% endif %}

                    {% if app.user  %}
                        <li class="nav-item btn btn-danger btn-simple">
                            <a class="nav-link" href="{{ path('dashboard') }}">Tableau de bord</a>
                        </li>
                        <li class="nav-item btn btn-danger btn-simple">
                            <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav> #}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="position: fixed;top: 0;height: 150px;background-color: red;">
        <!-- Brand -->
        <a class="navbar-brand" href="#" id="logo">Cluster</a>
        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="margin-right: 5rem">
            <ul class="navbar-nav">

                {% if not app.user  %}
                    <a class="nav-link"  href="{{ path('all_events') }}">Evènements</a>
                    <a class="nav-link" href="{{ path('app_login') }}">Se Connecter</a>
                    <a class="nav-link" href="{{ path('app_register_user') }}">S'inscrire</a>
                    <a class="nav-link" href="{{ path('app_register_pro') }}">Je suis un PRO</a>
                {% endif %}
                {% if app.user  %}
                    <a class="nav-link" style="margin-top: 10px" href="{{ path('all_events') }}">Evènements</a>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="#" id="navbardrop" data-toggle="dropdown">
                            <span class="mr-2 d-none d-lg-inline " style="margin-top: 10px;font-size: 12px;font-weight: bold">{{ app.user.firstname | capitalize }} {{ app.user.lastname | upper }}</span>
                            {% if app.user.userProfile == null %}
                                <img class="img-profile rounded-circle"
                                     height="40px" src="https://eu.ui-avatars.com/api/?name={{ app.user.firstname }}+{{ app.user.lastname | capitalize }}">
                            {% else %}
                                <img class="img-profile rounded-circle"
                                     height="40px" src="{{ asset('images/users/'~app.user.userProfile.imageName) }}">
                            {% endif %}

                        </a>
                        <div class="dropdown-menu">
                            {% if "ROLE_PRO" in app.user.roles%}
                                <a class="dropdown-item" href="{{ path('event_index_pro') }}">Tableau de bord</a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ path('actual_future_event') }}">Tableau de bord</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('profile_edit') }}">Editer profil</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="text-align: center" class="title">CLUSTER•</h1>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}